@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Open+Sans:wght@300&display=swap');

* {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Comic Neue', cursive; 
    /* font-style: italic; */
    color: blueviolet;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 50px;
    /* color: rgba(65, 82, 94, 0.3); */
}

p{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnm3va2g6U0V4AoD15M9JVhIO-LMpB4NeIQA&usqp=CAU); */
    background-image: linear-gradient(90deg, blue, violet, blueviolet);
    color: whitesmoke;
}